i.icon {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  min-width: 0.5rem;
  min-height: 0.5rem;
  display: inline-flex;
}
.icon.icon-logo {
  mask: url('/icons/sirius-logo.svg') no-repeat center / contain;
}
.icon.icon-globe {
  mask: url('/icons/globe.svg') no-repeat center / contain;
}
.icon.icon-chevron-down {
  mask: url('/icons/chevron-down.svg') no-repeat center / contain;
}
.icon.icon-arrow {
  mask: url('/icons/arrow.svg') no-repeat center / contain;
}
.icon.icon-whatsapp {
  mask: url('/icons/whatsapp.svg') no-repeat center / contain;
}
.icon.icon-mail {
  mask: url('/icons/mail.svg') no-repeat center / contain;
}
.icon.icon-map {
  mask: url('/icons/map.svg') no-repeat center / contain;
}
.icon.icon-web-app {
  mask: url('/icons/web-app.svg') no-repeat center / contain;
}
.icon.icon-cloud {
  mask: url('/icons/cloud.svg') no-repeat center / contain;
}
.icon.icon-frontend {
  mask: url('/icons/frontend.svg') no-repeat center / contain;
}
.icon.icon-backend {
  mask: url('/icons/backend.svg') no-repeat center / contain;
}
.icon.icon-seo {
  mask: url('/icons/seo.svg') no-repeat center / contain;
}
.icon.icon-cms {
  mask: url('/icons/cms.svg') no-repeat center / contain;
}
.icon.icon-search {
  mask: url('/icons/search.svg') no-repeat center / contain;
}
.icon.icon-building {
  mask: url('/icons/building.svg') no-repeat center / contain;
}
.icon.icon-ruler {
  mask: url('/icons/ruler.svg') no-repeat center / contain;
}
.icon.icon-elevator {
  mask: url('/icons/elevator.svg') no-repeat center / contain;
}
.icon.icon-house-building {
  mask: url('/icons/house-building.svg') no-repeat center / contain;
}
.icon.icon-calendar-check {
  mask: url('/icons/calendar-check.svg') no-repeat center / contain;
}
.icon.icon-bed {
  mask: url('/icons/bed.svg') no-repeat center / contain;
}
.icon.icon-people {
  mask: url('/icons/people.svg') no-repeat center / contain;
}
.icon.icon-book {
  mask: url('/icons/book.svg') no-repeat center / contain;
}
.icon.icon-internet {
  mask: url('/icons/internet.svg') no-repeat center / contain;
}
.icon.icon-car {
  mask: url('/icons/car.svg') no-repeat center / contain;
}
.icon.icon-money {
  mask: url('/icons/money.svg') no-repeat center / contain;
}
.icon.icon-tv {
  mask: url('/icons/tv.svg') no-repeat center / contain;
}
.icon.icon-yard {
  mask: url('/icons/yard.svg') no-repeat center / contain;
}
.icon.icon-dog {
  mask: url('/icons/dog.svg') no-repeat center / contain;
}
.icon.icon-radiator {
  mask: url('/icons/radiator.svg') no-repeat center / contain;
}
.icon.icon-apartment {
  mask: url('/icons/apartment.svg') no-repeat center / contain;
}
